$topnav-background-color: #222;
.sidebar{
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;

  }
  .item label{
  	display: block;
  	padding: 10px;
  	background-color: #222222;
  	font-size: 20px;
  	cursor: pointer;
  	color: #D27021;

  }
  .item label:hover{
  	background-color: #696969;
  }

  .item ul{
  	width: 100%;
  	list-style: none;
  	overflow: hidden;
  	max-height: 0;
  	transition: all .6s linear;
    border-bottom: 1px solid #444547;
  }


  .item input{
  	display: none;
  }

  .item ul li a{

  	height: 60px;
  	padding: 5px;
  	display: block;
  	text-decoration: none;
  	background-color: #222222;
    font-size: 20px;
  	color: #D27021;
    border-bottom: 1px solid #444547;
  }

  .item ul li a:hover{
  	background-color: #696969;
    border-left: 1px solid #FFA500;
  }

  .item input:checked ~ ul{
  	height: auto;
  	max-height: 600px;
  	transform: all;
  }
